<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/headerfooter.css">
    <link rel="stylesheet" href="stylesheets/carrinho.css">
    <title>Seu carrinho</title>
    
</head> 
<body>

    <%- include('./partials/header') %>
    
    <div class="conteudo">

        <div class="cep">

            <img src="/images/cep.png" alt="Icon CEP" class="icon-cep">
            <p class="text-cep">Selecione o Endereço</p>

        </div>

        <div class="product">

            <img src="/images/store.png" alt="Icon Store" class="icon-store">
            <p class="text-store">Produto e Frete</p>

        </div>

        <div class="shipping">

            <img src="/images/paper.png" alt="Icon shipping" class="icon-shipping">
            <p class="text-shipping">Resumo</p>

            <div class="calculo">
                
                <div class="line">

                    <p>Valor dos produtos:</p>
                    <p>R$ xxx.xx</p>

                </div>
                
                <p>Frete:</p>
                <p>R$ xxx.xx</p>
                <p>Total:</p>
                <p>R$ xxx.xx</p>

            </div>

            <input type="button" value="Pagar" class="b-pay">
            <input type="button" value="Continuar comprando" class="b-continue">

        </div>

    </div>

    <%- include('./partials/footer') %> 

</body>

</html>